body {
  margin: 35px auto;
  width: 960px;
}
header {
  text-align: center;
  margin: 0 0 20px;
}
header h1 {
  display: inline;
  font-size: 32px;
}
header h1 a:link, header h1 a:visited {
  color: #444;
  text-decoration: none;
}
header h2 {
  font-size: 16px;
  font-style: italic;
  color: #999;
}
#main {
  margin: 0 0 20px;
}
p {
  margin: 0 0 5px;
}